/* Body & HTML */
body{
	background-color:#FEFEFF;
}

/* Nav Bar */
nav.navbar{
	background-color: black;
}

a.navbar-brand{
	color:white;
}

a.navbar-brand:hover{
	color:blue;
}

/* Content Wrappers */
div#content{
	background-color: blue;
	margin: 0px auto;
	width:80%;
	height:100%;
}

div.row{
	width:70%;
	margin:10px auto;
	box-shadow: 5px 10px;
}

div.col-xs-sm-md-lg-6{
	width:50%;
	height:25vh;

}

div.col-xs-sm-md-lg-6.positive{
	background-color: #87D37C;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

div.col-xs-sm-md-lg-6.negative{
	background-color:#F2B79F;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.text {
	margin: 15px 15px 15px 25px;
}

div.sub-article-title {
	font-weight:bold;
	font-size:20px;
}

div.progress-container {
	float: right;
}
div.sub-article-source {
	font-size:18px;
	font-weight:bold;
}
